{% load static %}

{% block cssfiles %}
{% endblock cssfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "cars/base.css" %}">
    <title>Welcome</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
                <a href="{% url "front-page" %}" class="nav-button">home</a>
                <a href="{% url "read-later" %}" class="nav-button">My cart</a>
            </div>
        </div>        
    </header>
</body>
</html>
{% block title %}
{% endblock title %}
{% block content %}
{% endblock content %}
