{% extends "cars/base.html" %}
{% load static %}

{% block title %}
{{ Producer.name }}
{% endblock title %}

{% block content %}
    <div class="logo">
        <img src="" alt="Logo Image"> <!-- Insert your image URL here -->
    </div>
    <div class="company-name">{{ Producer.name }}</div>
    <div class="card">
        <img src="" alt="Card Image"> <!-- Insert your image URL here -->
        <div class="card-text">
            <p>car name</p>
            <p>car price</p>
            <p>car year pp</p>
            <p>car speed</p>
        </div>
    </div>
{% endblock content %}
