{% extends "cars/base.html" %}

{% block title %}
{{car.Proname}}
{% endblock title %}

{% block content %}
<section>
      <div>
        <img src="{{ car.image.url }}" alt="{{ car.Proname }}" width="300" height="200">
        <h2>{{ car.Proname }}</h2>
        <h3>{{ car.yearofpp }}</h3>
        <h3>{{ car.stok }} units</h3>
        <h3>{{ car.sped }} km/hr</h3>
        <h3>{{ car.phone_number }}</h3>
        <h3>{{ car.discr }}</h3>
    </div>
</section>

<div id="read-later">
  <form action="{% url "read-later" %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{ car.id }}" name="car_id">
    <button>
      {% if incart %}
        Remove from cart
      {% else %}
        Add to cart
      {% endif %}
    </button>
  </form>
</div>
{% endblock content %}